@import "~react-toolbox/components/commons";

.index {
  width: 60rem;
  margin: auto;
  top: 2rem;
  position: fixed;
  left: 0;
  right: 0;
}

.card {
  width: 60rem;
  margin: auto;
  top: 2rem;
  position: relative;
  position: fixed;
  left: 0;
  right: 0;
}

.board {
  display: flex;
  width: 31rem;
  flex-wrap: wrap;
  margin: auto;
  
  button {
    min-width: 8rem;
    height: 8rem;
    margin: 0.5rem;
  }
}

.cardActions {
  justify-content: flex-end;
}